<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Stop Hacking Alone</h1>
    <p>Effortlessly host a collaborative cloud based IDE right from your machine with only a few commands. Tell your friends, Party On!</p>
    <p><a class="btn btn-primary btn-lg" role="button" href="/rooms/demo">Try the Demo &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Host a Room</h2>
      <p>
        $ npm install hackify -g</br>
        $ cd my_cool_project</br>
        $ hackify</br>
        </br>
        ...check your console for the room link..</br>
        </br>
        room link: <strong>http://hackify.org/rooms/12345</strong></br>
        </br>
      </p>
      <p><a class="btn btn-default" href="https://npmjs.org/package/hackify" role="button">NPM &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Host and Attend Events</h2>
      <p>The Events feature lets you 'reserve' a room ahead of time while you invite participants and build interest.</p>
      <p>you can host events for:
      <ul>
        <li>Hacking Open Source</li>
        <li>Interactive presentations</li>
        <li>Guided learning</li>
      </ul>
      </p>
      <p><a class="btn btn-default" href="/events" role="button">Events &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Open Sauce</h2>
      <p>hackify is 100% Open Source.</p>
      <p><a class="btn btn-default" href="https://github.com/hackify" role="button">GitHub &raquo;</a></p>
    </div>
  </div>









