    <div id="footer">
      <div class="container">
      <a href="https://twitter.com/hackifyorg" class="twitter-follow-button">Follow</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-text="Collaborative Coding with hackify.org">Tweet</a>
      <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="Collaborative Coding with hackify.org">Vote on HN</a>

      </div>
    </div>




      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>      

      <script>
    (function(d, t) {
        var g = d.createElement(t),
            s = d.getElementsByTagName(t)[0];
        g.src = '//hnbutton.appspot.com/static/hn.min.js';
        s.parentNode.insertBefore(g, s);
    }(document, 'script'));
</script>