<%# add navigation links to this file %>
<li><%= link_to raw('<span class="glyphicon glyphicon-home"></span> Home'), root_path, class: 'navbar-brand' %></li>
<li><%= link_to raw('<span class="glyphicon glyphicon-calendar"></span> Events'), events_path, class: 'navbar-brand' %></li>
<li><%= link_to 'Github', "https://github.com/hackify", class: 'navbar-brand' %></li>
<li><%= link_to 'NPM', "https://npmjs.org/package/hackify", class: 'navbar-brand' %></li>

